@import "../mixins.css";
@import "../breakpoints.css";

.press-kit-banner {
  background-color: var(--color-light-gray);
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);

  @media (--extra-large-breakpoint) {
    padding-top: var(--spacer-4);
    padding-bottom: var(--spacer-4);
  }

  &-box {
    background-color: var(--color-white);
    box-shadow: 0px 0px 5px #0000001A;
    padding: var(--spacer-2) var(--spacer);

    @media (--extra-large-breakpoint) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      padding: var(--spacer-3) var(--spacer);
    }

    h2 {
      color: var(--color-blue);
      font-family: var(--font-condensed-regular);
      font-size: var(--font-size-28);
      line-height: var(--line-height-quote);
      text-transform: uppercase;

      @media (--extra-large-breakpoint) {
        margin-bottom: 0;
      }
    }

    p {
      @media (--extra-large-breakpoint) {
        margin-bottom: 0;
      }
    }

    button {
      @include button-basic;
    }
  }
}
