@import "../breakpoints.css";

/* Newsletter Form */
.newsletter {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .inner-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-lead {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px dashed var(--color-light-blue);
    width: 100%;

    @media (--large-breakpoint-up) {
      flex: 1 1 calc(50% - 3rem);
      padding-right: 3rem;
      margin-right: 3rem;
      border: none;
      border-right: 1px dashed var(--color-light-blue);
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &-heading {
      color: #fff;
      font-size: var(--font-size-h3);
      font-family: var(--font-condensed-regular);
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: var(--font-size-base-small);
      color: #dedede;
      max-width: 460px;
    }
  }

  &-form {
    flex: 1 1 50%;

    form {
      margin-bottom: 0;
    }

    #mc_embed_signup_scroll {
      display: flex;
      align-items: flex-end;

      .mc-field-group {
        display: flex;
        flex-flow: row wrap;
        min-width: 100%;
      }
    }

    label {
      color: #fff;
      text-transform: uppercase;
      font-family: var(--font-condensed-bold);
      font-size: var(--font-size-h6);
      letter-spacing: 0.52px;
      display: block;
      margin-bottom: 8px;
      width: 100%;
    }

    input {
      border: none;
      border-radius: 2px;
      width: 100%;
      max-width: 480px;
      margin-right: 10px;
      padding: 9px;
      margin-bottom: 12px;

      &.button {
        background: none;
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-family: var(--font-condensed-bold);
        font-size: var(--font-size-h6);
        letter-spacing: 0.52px;
        padding: 8px 24px;
        width: auto;
        margin-right: 0;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          cursor: pointer;
          background-color: var(--color-dark-blue);
        }
      }
    }
  }
}
