/* Call to Action block styles */
@import "../mixins.css";
@import "../breakpoints.css";

.cta {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);

  @media (--extra-large-breakpoint) {
    padding-top: var(--spacer-4);
    padding-bottom: var(--spacer-4);
  }

  h2 {
    color: var(--color-blue);
    font-family: var(--font-condensed-regular);
    font-size: var(--font-size-28);
    line-height: var(--line-height-quote);
    text-transform: uppercase;
  }

  h2,
  p {
    text-align: center;

    @media (--extra-large-breakpoint) {
      margin-bottom: 0;
    }
  }

  &-box {
    background-color: var(--color-white);
    box-shadow: 0px 0px 5px #0000001A;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacer-2) var(--spacer);

    @media (--extra-large-breakpoint) {
      flex-flow: row nowrap;
      gap: 1rem;
      padding: var(--spacer-3) var(--spacer);
    }

    .cta-vertical & {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;

      .button {
        @media (--extra-large-breakpoint) {
          margin-top: .45rem;
        }
      }
    }
  }

  .button {
    display: block;
    text-align: center;
    white-space: nowrap;
  }

  &-light {
    background-color: var(--color-light-gray);
  }

  &-dark {
    background-color: var(--color-blue);
  }

  &-vertcal {}


}
