@import "../components/variables.css";
@import "../components/mixins.css";
@import "../components/typography.css";
@import "../components/breakpoints.css";

.intro {
  &-press {
    background-color: var(--color-dark-blue);
    padding: 2rem 0 1rem;

    @media (--large-breakpoint-up) {
      padding: 7.5rem 0 2rem;
    }

    @media (--extra-large-breakpoint) {
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 12.5%,
        rgba(0, 76, 109, 1) 12.5%,
        rgba(0, 76, 109, 1) 100%
      );
    }

    h1 {
      color: var(--color-white);
      font-size: clamp(3.25rem, 2.6338rem + 2.6291vw, 5rem);
      line-height: var(--line-height-56);
      text-align: center;

      @media (--medium-breakpoint-up) {
        line-height: var(line-height-h1);
      }
    }

    .subtitle {
      font-family: var(--font-condensed-regular);
      color: var(--color-soft-gray);
      font-size: var(--font-size-base);
      line-height: var(--line-height-base-small);
      margin-bottom: var(--spacer-2);
      margin-top: var(--spacer-15);
      text-transform: uppercase;
      text-align: center;

      @media (--medium-breakpoint-up) {
        margin-bottom: var(--spacer-4);
        margin-top: var(--spacer-3);
      }
    }

    &-download {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      box-shadow: 0px 0px 30px #0000001a;

      &-logo {
        background-color: var(--color-light-blue);
        padding: var(--spacer-3);
        flex-basis: 100%;
        text-align: center;

        @media (--medium-breakpoint-up) {
          padding: 5rem var(--spacer-4) var(--spacer-4);
        }

        @media (--large-breakpoint-up) {
          flex-basis: 35%;
        }
      }

      &-details {
        background-color: var(--color-white);
        padding: var(--spacer-2);
        flex-basis: 100%;

        @media (--medium-breakpoint-up) {
          padding: var(--spacer-3);
        }

        @media (--large-breakpoint-up) {
          flex-basis: 65%;
        }

        h4 {
          color: var(--color-blue);
        }
      }
    }
  }
}

.downloads {
  margin: var(--spacer-3) auto;

  &-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .card {
      flex-basis: 100%;
      border-top: 6px solid var(--color-blue);
      margin-bottom: var(--spacer-4);

      @media (--medium-breakpoint-up) {
        flex-basis: calc(33% -2.5rem);
        margin-bottom: var(--spacer-3);
      }

      h3 {
        margin-bottom: var(--spacer-3);
      }

      h4 {
        font-size: var(--font-size-h5);
        line-height: var(--line-height-h5);
        color: var(--color-blue);
        margin-top: var(--spacer);
        text-transform: uppercase;
      }
    }
  }
}

.cta {
  .inner-content {
    background-color: var(--color-light-gray);
    text-align: center;
    padding-top: var(--spacer-3);
    padding-bottom: var(--spacer-3);

    @media (--medium-breakpoint-up) {
      padding-top: var(--spacer-4);
      padding-bottom: var(--spacer-4);
    }
  }

  button {
    @include button-basic;
  }

  &-latest {
    &-description {
      margin-bottom: var(--spacer-2);
    }
  }

  &-contact {
    margin-bottom: var(--spacer-4);
  }
}

/* FAQs */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.faq {
  margin: var(--spacer-4) auto;
  padding-bottom: 80px;

  .accordion {
    @media (--large-breakpoint-up) {
      column-count: 2;
      column-gap: 4rem;
    }
  }

  .accordion__heading {
    outline: none;
    padding: 23px 0;
    cursor: pointer;
    color: var(--color-blue);
    font-size: 18px;
    line-height: var(--line-height-h5);
    padding-left: 40px;
    position: relative;
    transition: opacity 0.3s ease;

    &:hover {
      transition: opacity 0.3s ease;
      opacity: 0.7;
    }
  }

  .accordion__item {
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  }

  .accordion__panel {
    padding-left: 40px;
    animation: fadeIn 0.35s ease-in;
  }

  .accordion__button {
    outline: none;

    &::before {
      content: "+";
      line-height: 1;
      padding: 0;
      background: black;
      border-radius: 50%;
      color: white;
      width: 23px;
      height: 23px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: center;
      position: absolute;
      left: 0;
    }

    &[aria-expanded="true"] {
      &::before {
        content: "\2013";
      }
    }
  }
}

.download-link {
  margin-top: var(--spacer-2);

  a {
    color: var(--color-blue);
    text-decoration: none;
    position: relative;
    padding-left: var(--spacer-15);

    &:hover {
      text-decoration: underline;
    }

    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      content: url(../images/icons/arrow-long-down-gray.svg);
      width: 15px;
    }
  }
}
