@import "../mixins.css";
@import "../breakpoints.css";

.alert {
  font-family: var(--font-condensed-light);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  padding: 1.5rem 0;

  &-blue {
    background-color: var(--color-alert-blue);
  }

  &-yellow {
    background-color: var(--color-alert-yellow);
  }

  &-red {
    background-color: var(--color-alert-red);
  }

  a {
    color: var(--color-black);
    text-decoration: none;
    position: relative;
    display: block;
    padding-right: 2rem;

    /* &::after {
      content: url("../../images/icons/arrow-down.svg");
      height: 36px;
      width: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    } */
  }
}
