@import "../mixins.css";
@import "../breakpoints.css";

.alert-closed {
  display: none;
}

.alert-opened {
  display: block;
  background-color: var(--color-light-gray);

  .wide-container {
    max-width: 1800px;
    margin: 0 auto;
  }

  &-content {
    grid-template-rows: 75px repeat(3, 1fr);
    padding: 15px;

    @media (--medium-breakpoint-up) {
      padding: 20px;
      grid-template-rows: 100px repeat(3, 1fr);
    }

    @media (--large-breakpoint-up) {
      grid-template-rows: 175px 80px 0px;
      padding: 40px;
    }

    @media (--extra-large-breakpoint) {
      padding: 65px 0 0 80px;
    }

    &-heading {
      font-size: clamp(2rem, 0.9245rem + 4.5283vw, 5rem);
      font-family: var(--font-condensed-bold);
      text-transform: uppercase;
      line-height: 0.85;
      letter-spacing: -0.8px;
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      &--white {
        color: var(--color-white);
      }

      &--blue {
        color: var(--color-bright-blue);
        max-width: 780px;
      }
    }

    &-date {
      font-family: var(--font-regular-bold);
      color: var(--color-white);
      font-size: var(--font-size-h5);
      line-height: var(--line-height-h5);
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      @media (--medium-breakpoint-up) {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
      }
    }

    &-logo {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      width: 150px;

      @media (--large-breakpoint-up) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 250px;
      }

      @media (--extra-large-breakpoint) {
        width: auto;
        margin-left: auto;
      }
    }

    &-cta {
      grid-row: 4 / 5;
      grid-column: 1 / 2;

      @media (--large-breakpoint-up) {
        grid-row: 2 / 3;
      }

      button {
        @include button-basic;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-blue);
    font-size: 13px;
    line-height: 18px;
    font-family: var(--font-condensed-bold);
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    border: 1px solid var(--color-disabled);
    border-radius: 4px;
    background-color: var(--color-white);
    box-shadow: 0px 2px 5px #0000001a;
    padding: 6px 10px;

    @media (--medium-breakpoint-up) {
      top: 20px;
      right: 30px;
    }

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s ease;
    }

    img {
      width: 16px;
      height: 16px;
      margin: 0;
      display: inline-block;
      position: relative;
      top: 2px;

      @media (--medium-breakpoint-up) {
        margin: 0 0 0 6px;
      }
    }

    span {
      display: none;

      @media (--medium-breakpoint-up) {
        display: inline-block;
      }
    }
  }
}
