@import "../mixins.css";
@import "../breakpoints.css";

.goal-banner {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-3);

  @media (--extra-large-breakpoint) {
    padding-top: 0;
    padding-bottom: 7.5rem;
  }

  .max-container {
    @media (--extra-large-breakpoint) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-box {
    background-color: var(--color-light-blue);
    padding: var(--spacer-2) var(--spacer);

    @media (--medium-breakpoint-up) {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-end;
      padding: var(--spacer-3) var(--spacer-4);
    }

    @media (--extra-large-breakpoint) {
      width: 70%;
    }

    &-title {
      font-family: var(--font-condensed-bold);
      text-transform: uppercase;
      letter-spacing: 0.52px;
      color: var(--color-black);
      position: relative;

      &::after {
        content: "";
        width: 75px;
        border-bottom: 1px solid var(--color-disabled);
        position: absolute;
        left: 70px;
        top: 50%;
      }

      @media (--medium-breakpoint-up) {
        flex-basis: 100%;
        margin-bottom: 10px;
      }
    }

    &-description {
      color: var(--color-gray);
      font-family: var(--font-condensed-regular);
      font-size: var(--font-size-30);
      line-height: var(--line-height-36);
      letter-spacing: -0.3px;

      @media (--medium-breakpoint-up) {
        flex-basis: 40%;
      }
    }

    &-stat {
      color: var(--color-blue);
      font-family: var(--font-condensed-regular);
      line-height: initial;
      display: flex;
      align-items: baseline;

      @media (--medium-breakpoint-up) {
        line-height: unset;
        flex-basis: 60%;
      }

      &-number {
        font-size: 120px;
      }

      &-marker {
        font-size: var(--font-size-30);
      }
    }

    &-text {
      color: var(--color-gray);
      font-family: var(--font-condensed-regular);
      font-size: var(--font-size-30);
      line-height: var(--line-height-36);
      letter-spacing: -0.3px;
      padding-left: 10px;
    }
  }
}
