@import "variables.css";
@import "mixins.css";
@import "typography.css";
@import "breakpoints.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 1rem / var(--line-height-base) var(--font-roman), var(--font-fallback);
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray);
  font-family: var(--font-roman), var(--font-fallback);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-light), var(--font-fallback);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  color: var(--color-gray);
  -webkit-appearance: textfield;
  outline-offset: -2px;
  border: 1px solid #7070704d;
  padding: 0.75rem;
  width: 100%;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-light), var(--font-fallback);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  letter-spacing: 0.8px;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-bold), var(--font-fallback);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  letter-spacing: 0.52px;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-quote);
  line-height: var(--line-height-quote);
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Begin Custom */
.min-content {
  margin: 0 auto;
  max-width: var(--width-min-content);
}

.inner-content {
  margin: 0 auto;
  max-width: var(--width-max-content);
  padding: 0px 1rem;
}

.max-container {
  margin: 0 auto;
  max-width: var(--width-max-container);
  padding: 0 1rem;
}

/* Header */
header {
  .max-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  }
}

/* Navigation */
.navigation {
  border-top: 1px solid #d3d3d3;
  background-color: var(--color-light-gray);

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-end;

    a {
      color: var(--color-gray);
      font-family: var(--font-roman);
      font-size: var(--font-size-base-small);
      text-decoration: none;
      margin-left: 2rem;
      padding: 1rem 0;

      &:hover {
        text-decoration: underline;
      }

      &.he-landing {
        color: var(--color-blue);
        text-transform: uppercase;
        font-family: var(--font-condensed-bold);
        letter-spacing: 0.52px;
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}

/* Intro */
.intro {
  background-color: var(--color-dark-blue);

  h1 {
    width: 100%;
  }

  .max-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}

/* Newsletter */
.newsletter {
  background-color: #0072a7;
}

/* Footer */
footer {
  .max-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}

/* Logo */
.logo {
  width: 100%;
  max-width: 220px;

  a {
    display: block;
  }
}

/* Translator Selector */
.translator {
  background-color: var(--color-dark-blue);
  height: 100%;
}

/* plan search filters */
.inner-content-filters {
  display: flex;
  flex-direction: column;

  @media (--medium-breakpoint-up) {
    flex-direction: row-reverse;
  }

  .search-filters {
    margin-bottom: 1.45rem;

    @media (--medium-breakpoint-up) {
      width: 232px;
      flex-grow: 1;
      flex: 1 0 232px;
    }

    &-label {
      color: var(--color-gray);
      font-family: var(--font-regular-light);
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-refinement {
      margin-bottom: 1.45rem;
    }
  }
}

/* Plan cards */
.plan-result-card {
  &-category {
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
  }

  &-title {
    color: var(--color-gray);
    font-family: var(--font-condensed-regular);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
  }

  &-excerpt {
    color: #767676;
    font-family: var(--font-roman);
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
  }
}

/* Profiles Contanier */
.profiles {
  background-color: var(--color-light-gray);
  padding: 120px 0;
}

/* Algolia - Searchbox */
.ais-SearchBox {
  &-submit,
  &-reset {
    display: none;
  }
}

/* Algolia - Infinte Hits */
.ais-InfiniteHits {
  flex: 1 1 auto;
  margin-left: -10px;
  margin-right: -10px;

  @media (--medium-breakpoint-up) {
    margin-right: 1rem;
    margin-left: -10px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &-item {
    border: 1px solid transparent;
    margin: 0 10px 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px #0000001a;

    @media (--medium-breakpoint-up) {
      width: calc(50% - 20px);
    }

    &:hover {
      border-color: #008bcc;
    }
  }

  &-loadMore {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
    width: 100%;
    padding: 1rem;
    cursor: pointer;

    &--disabled {
      border: 1px solid var(--color-disabled);
      color: var(--color-disabled);
      cursor: not-allowed;
    }
  }
}

/* Algolia - Voice Search */
.ais-VoiceSearch {
  background-color: var(--color-light-gray);
  height: 100%;

  &-button {
    color: var(--color-gray);
    background: none;
    border: none;
    height: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    svg {
      width: 24px;
      height: 24px;
    }

    &::after {
      content: "Search by Voice";
      color: inherit;
      font-size: var(--font-size-base-small);
      display: block;
    }
  }
}

/* Algolia - Highlights */
.ais-Highlight {
  display: block;

  &-highlighted {
    color: var(--color-blue);
    font-weight: bold;
  }
}

/* Algolia - MenuSelect */
.ais-MenuSelect-select {
  color: var(--color-gray);
  -webkit-appearance: listbox;
  background: none;
  border: none;
  border-bottom: 1px solid #7070704d;
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 0;
}

/* Algolia - RefinementList */
.ais-RefinementList {
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
  }
  &-label {
  }
  &-checkbox {
    margin-right: 10px;
    position: relative;
    top: 1px;
    border-color: #7070704d;
  }

  &-labelText {
    font-family: var(--font-roman);
    font-size: var(--font-size-base-small);
  }

  &-count {
    display: none;
  }
}

.ais-ClearRefinements {
  &-button {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;

    &--disabled {
      border: 1px solid var(--color-disabled);
      color: var(--color-disabled);
      cursor: not-allowed;
    }
  }
}

/* Algolia - React Autosuggest */
.react-autosuggest {
  &__container {
    background-color: var(--color-light-gray);
    border-left: 1px solid #d3d3d3;
    flex-grow: 1;
    height: 100%;
    position: relative;
  }

  &__input {
    background-color: var(--color-light-gray);
    border: none;
    font-size: 18px;
    color: var(--color-gray);
    font-family: var(--font-regular-light);
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;

    /* needs icon */
    &::before {
    }

    &--open {
      outline: 1px solid blue;
    }
  }
}

.react-autosuggest {
  &__suggestions-container {
    &--open {
      position: absolute;
      background-color: #fff;
      width: 100%;
      border: 1px solid #dedede;
      background-color: #f7f9fa;
    }
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__suggestion {
    padding: 2rem;
    background-color: #f7f9fa;
    margin: 0;

    &--highlighted {
      background-color: #eff1f2;
    }
  }
}

.site-search {
  &-result {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &-image {
      flex-shrink: 0;
      margin-right: 2rem;
    }

    &-content {
      &-header {
        font-family: var(--font-condensed-bold);
        font-size: var(--font-size-h5);
        line-height: var(--line-height-h5);
        margin-bottom: 0.5rem;
      }

      &-excerpt {
        font-size: var(--font-size-base-small);
        line-height: var(--line-height-base-small);
      }
    }
  }
}
