@import "variables.css";
@import "mixins.css";
@import "typography.css";
@import "icons.css";
@import "breakpoints.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 1rem / var(--line-height-base) var(--font-roman), var(--font-fallback);
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray);
  font-family: var(--font-roman), var(--font-fallback);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

  &.mobile-menu-is-open {
    position: fixed;
    width: 100%;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-light), var(--font-fallback);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  color: var(--color-gray);
  -webkit-appearance: textfield;
  outline-offset: -2px;
  border: 1px solid #7070704d;
  padding: 0.75rem;
  width: 100%;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-light), var(--font-fallback);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: clamp(2.6rem, 2rem + 2.6291vw, 4rem);
  line-height: clamp(2.925rem, 2.2rem + 2.6291vw, 4.5rem);
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  letter-spacing: 0.8px;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--font-condensed-bold), var(--font-fallback);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  letter-spacing: 0.52px;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: var(--font-condensed-regular), var(--font-fallback);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-quote);
  line-height: var(--line-height-quote);
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Begin Custom */
.min-content {
  margin: 0 auto;
  max-width: var(--width-min-content);
}

.inner-content {
  margin: 0 auto;
  max-width: var(--width-max-content);
  padding: 0px 1rem;
}

.max-container {
  margin: 0 auto;
  max-width: var(--width-max-container);
  padding: 0 1rem;
}

/* Header */
header {
  .max-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  }
}

/* Navigation */
.navigation {
  @media (--large-breakpoint-up) {
    background-color: var(--color-light-gray);
    border-top: 1px solid #d3d3d3;
  }

  &-main {
    background-color: var(--color-blue);

    &-sticky {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    /* justify-content: flex-end; */
    justify-content: space-between;
    max-width: 65%;

    .mobile-navigation & {
      flex-flow: column wrap;
      max-width: 100%;
    }

    a {
      border-top: 2px solid var(--color-blue);
      border-bottom: 2px solid var(--color-blue);
      /* color: var(--color-gray); */
      color: var(--color-white);
      font-family: var(--font-roman);
      /* font-size: 12px; */
      font-size: var(--font-size-base-small);
      text-decoration: none;
      /* margin-left: 2rem; */
      padding: 12px 0;

      .mobile-navigation & {
        /* font-size: var(--font-size-base); */
        font-size: var(--font-size-base-small);
        color: #fff;
        margin-left: 0;
        border-bottom: 2px solid #dedede;
        width: 100%;
      }

      &.current,
      &:hover {
        border-bottom: 2px solid var(--color-white);
        text-decoration: none;
      }
    }
  }
}

.he-landing {
  .navigation & {
    font-size: 15px;
    /* color: var(--color-blue); */
    color: var(--color-white);
    /* text-transform: uppercase; */
    font-family: var(--font-condensed-bold);
    letter-spacing: 0.52px;
    /* margin-right: auto;
    margin-left: 0; */
  }

  &.mobile {
    background-color: var(--color-blue);
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    letter-spacing: 0.52px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .mobile-navigation & {
    display: none;
  }
}

/* Intro */
.intro {
  background-color: var(--color-dark-blue);
  padding: 2rem 0 1rem;

  .hero & {
    background: none;
    padding: 2rem 0;
  }

  @media (--large-breakpoint-up) {
    padding: 7.5rem 0 2rem;
  }

  @media (--extra-large-breakpoint) {
    background: linear-gradient(
      to top,
      rgba(247, 249, 250, 1) 0%,
      rgba(247, 249, 250, 1) 12.5%,
      rgba(0, 76, 109, 1) 12.5%,
      rgba(0, 76, 109, 1) 100%
    );
  }

  h1 {
    width: 100%;
    /* color: var(--color-medium-blue); */
    color: var(--color-white);
    font-family: var(--font-condensed-light);
    font-size: clamp(3.25rem, 2.6338rem + 2.6291vw, 5rem);
    line-height: var(--line-height-56);
    letter-spacing: -0.8px;

    @media (--medium-breakpoint-up) {
      line-height: var(line-height-h1);
      margin-bottom: var(--spacer-3);

      .hero & {
        margin-bottom: var(--spacer-2);
      }
    }
  }

  .subtitle {
    width: 100%;
    font-family: var(--font-condensed-regular);
    color: var(--color-white);
    font-size: var(--font-size-quote);
    line-height: var(--line-height-quote);
    margin-bottom: var(--spacer-2);

    .hero & {
      max-width: 480px;
    }

    @media (--medium-breakpoint-up) {
      margin-bottom: var(--spacer-4);

      .hero & {
        margin-bottom: var(--spacer-3);
      }
    }
  }

  .max-container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    @media (--large-breakpoint-up) {
      flex-flow: row wrap;
    }
  }

  &--video {
    width: 100%;

    @media (--large-breakpoint-up) {
      flex-basis: 60%;
      margin-right: 50px;
      max-width: 780px;
    }

    &-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-quote {
      font-size: var(--font-size-22);
      font-family: var(--font-condensed-regular);
      line-height: var(--line-height-quote);
      color: var(--color-medium-blue);
      width: 100%;
      margin-bottom: var(--spacer-2);
      margin-top: var(--spacer-2);
      position: relative;
      padding-left: var(--spacer-15);

      &::before {
        content: "\201C";
        font-size: var(--font-size-40);
        font-family: var(--font-condensed-bold);
        position: absolute;
        top: 5px;
        left: 0;
      }

      @media (--large-breakpoint-up) {
        font-size: var(--font-size-quote);
        margin-top: 0;
      }

      &-attr {
        font-family: var(--font-condensed-bold);
        font-size: var(--font-size-base-small);
        line-height: var(--line-height-h6);
        text-transform: uppercase;
        margin-top: var(--spacer-2);
        color: var(--color-white);
        padding-left: var(--spacer-15);
      }

      &-role {
        color: var(--color-white);
        font-size: var(--font-size-base-xsmall);
        padding-left: var(--spacer-15);
      }
    }

    &-content {
      color: var(--color-white);
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
      width: 100%;
      padding-left: var(--spacer-15);
      font-family: var(--font-roman);
      position: relative;
    }

    &-details {
      flex-basis: 100%;
      padding-right: 0;

      @media (--large-breakpoint-up) {
        flex-basis: 34.5%;
        padding-right: 80px;
      }
    }
  }
}

/* Lead */
.lead {
  background-color: var(--color-light-gray);
  padding-top: var(--spacer-4);
  padding-bottom: var(--spacer-4);

  @media (--large-breakpoint-up) {
    padding-bottom: 5rem;
  }

  .inner-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &--main {
    /* color: var(--color-gray); */
    color: var(--color-blue);
    font-family: var(--font-condensed-regular);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    padding-bottom: var(--spacer-2);
    flex-basis: 100%;

    @media (--large-breakpoint-up) {
      flex-basis: 30%;
    }
  }

  &--details {
    &-points {
      width: 100%;

      ul {
        margin: 0;
        padding: 0 0 0 var(--spacer-15);
      }

      li {
        list-style-type: none;
        padding-left: 18px;
        position: relative;

        &::after {
          position: absolute;
          left: -15px;
          top: 3px;
          content: "";
          display: inline-block;
          z-index: 100;
          background-image: url("../images/icons/checkmark.svg");
          background-repeat: no-repeat;
          background-position: center left;
          width: 15px;
          height: 15px;
        }

        /* &::marker {
          font-size: var(--font-size-h4);
        } */

        a {
          color: var(--color-blue);
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }

      @media (--medium-breakpoint-up) {
        padding: var(--spacer);
      }

      @media (--large-breakpoint-up) {
        width: 600px;
      }

      @media (--extra-large-breakpoint) {
        width: 760px;
      }
    }

    &-summary {
      width: 100%;

      @media (--large-breakpoint-up) {
        width: 600px;
        padding-left: var(--spacer-15);
      }

      @media (--extra-large-breakpoint) {
        width: 760px;
      }
    }
  }
}

/* Newsletter */
.newsletter {
  background-color: #0072a7;
}

/* Logo */
.logo {
  width: 100%;
  max-width: 220px;

  a {
    display: block;
  }
}

/* plan search filters */
.inner-content-filters {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */

  /* @media (--medium-breakpoint-up) {
    flex-direction: row-reverse;
  } */

  .search-filters {
    border-bottom: 1px solid #7070704d;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.45rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    /* @media (--medium-breakpoint-up) {
      width: 232px;
      flex-grow: 1;
      flex: 1 0 232px;
    } */

    &-label {
      color: var(--color-gray);
      font-family: var(--font-regular-bold);
      font-weight: bold;
      /* margin-bottom: 0.5rem; */

      &-main {
        color: var(--color-blue);
        font-family: var(--font-condensed-bold);
        font-size: var(--font-size-h5);
        /* text-transform: uppercase; */
        /* margin-bottom: 1rem; */
      }
    }

    &-refinement {
      /* margin-bottom: 1.45rem; */
      /* max-width: 260px; */
    }
  }
}

/* Plan cards */
.plan-result-card {
  position: relative;

  /* &--has-video {
    height: 100%;
    background: var(--color-light-blue);
  } */

  &-plan {
    @media (--medium-breakpoint-up) {
      .pp-explore-single-card & {
        margin-right: 1.125rem;
      }
    }
  }

  a {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &-company {
    position: absolute;
    top: 0;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
    padding: 2px 10px;
  }

  &-image {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  &-video__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-category {
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
    /* margin: 2rem 1rem 1.25rem; */
    margin: 1.25rem 0 1rem;
    width: fit-content;
    display: flex;
    align-items: center;

    /* &::after {
      content: "";
      margin-left: 0.5rem;
      width: 40px;
      height: 1px;
      background-color: #000;
    } */
  }

  &-title {
    color: var(--color-gray);
    font-family: var(--font-condensed-regular);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    /* margin: 0 1.5rem 3rem; */
    margin: 0 0 1rem;
  }

  &-excerpt {
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    /* margin: 0 1.5rem; */
    padding-bottom: 2rem;
  }

  &-read {
    display: flex;
    align-items: center;
    /* margin: 0 1.5rem; */
    margin: 0;
    font-size: var(--font-size-base-small);

    &::before {
      content: "";
      background-image: url("../images/icons/story-card-icon-clock.svg");
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      margin-right: 10px;
    }
  }
}

/* Profiles Contanier */
.profiles {
  /* background-color: var(--color-light-gray); */
  padding: 120px 0;

  &-header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;

    &-title {
    }
    &-link {
    }
  }
}

.view-all {
  color: var(--color-blue);
  text-transform: uppercase;
  font-family: var(--font-condensed-regular);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  letter-spacing: 0.8px;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

/* Algolia - Searchbox */
.ais-SearchBox {
  &-submit,
  &-reset {
    display: none;
  }
}

/* Algolia - Infinte Hits */
.ais-Hits {
  flex: 1 1 auto;
  margin-left: -10px;
  margin-right: -10px;

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    @media (--medium-breakpoint-up) {
      #latest & {
        flex-flow: row nowrap;
        overflow-x: scroll;
      }
    }
  }

  &-item {
    border: 1px solid transparent;
    margin: 0 0 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px #0000001a;
    background: white;
    position: relative;
    width: 100%;

    @include draw-blue-border();

    @media (--medium-breakpoint-up) {
      flex: 0 1 33%;

      #latest & {
        flex: 1 0 495px;
      }

      .pp-explore & {
        flex: 1 1 46%;
        margin: 0 1rem 20px;
      }
    }
  }
}

.ais-Hits-wrap {
  position: relative;

  @media (--medium-breakpoint-up) {
    &::after {
      content: "";
      transform: rotate(0deg);
      background: linear-gradient(
        270deg,
        #ffffff 15%,
        rgba(255, 255, 255, 0) 100%
      );
      top: 0;
      position: absolute;
      height: 100%;
      width: 5rem;
      right: -0.625rem;
      bottom: 0;
    }
  }

  /* padding: 20px;
  @media (--medium-breakpoint-up) {
    ::-webkit-scrollbar {
      height: 12px;
      -webkit-appearance: none;
    }

    ::-webkit-scrollbar-track {
      margin: 0 1rem;
      background: var(--color-medium-blue);
      height: 12px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-blue);
      border-radius: 10px;
    }
  } */
}

/* Algolia - Highlights */
.ais-Highlight {
  display: block;

  &-highlighted {
    color: var(--color-blue);
    font-weight: bold;
  }
}

/* Algolia - MenuSelect */
.ais-MenuSelect-select {
  color: var(--color-gray);
  -webkit-appearance: menulist;
  background: none;
  border: none;
  /* border-bottom: 1px solid #7070704d; */
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 0;
}

/* Algolia - RefinementList */
.ais-RefinementList {
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-item {
  }
  &-label {
    display: flex;
    align-items: baseline;
  }

  &-checkbox {
    margin-right: 10px;
    position: relative;
    top: 2px;
    border-color: #7070704d;
  }

  &-labelText {
    font-family: var(--font-roman);
    font-size: var(--font-size-base-small);
    display: block;
  }

  &-count {
    display: none;
  }
}

.ais-ClearRefinements {
  &-button {
    background: none;
    border: none;
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
    font-size: var(--font-size-h6);
    letter-spacing: 0.52px;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;

    &--disabled {
      /* border: 1px solid var(--color-disabled); */
      border: none;
      background: none;
      color: var(--color-disabled);
      cursor: not-allowed;
    }
  }
}

/* Algolia - React Autosuggest */
.react-autosuggest {
  &__container {
    background-color: var(--color-light-gray);
    flex-grow: 1;
    height: 100%;
    position: relative;

    &::before {
      content: url("../images/icons/icon-search.svg");
      height: 24px;
      width: 24px;
      position: absolute;
      top: 2rem;
      left: 2rem;
      display: none;

      .mobile-search & {
        top: 1rem;
        left: 0;
      }
    }

    @media (--large-breakpoint-up) {
      border-left: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;
    }
  }

  &__input {
    background-color: var(--color-light-gray);
    border: none;
    font-size: 18px;
    color: var(--color-gray);
    font-family: var(--font-regular-light);
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;

    .mobile-search & {
      padding: 1rem 2rem 1rem 2rem;
    }

    &--open {
      outline: 1px solid blue;
    }
  }
}

.react-autosuggest {
  &__suggestions-container {
    &--open {
      position: absolute;
      background-color: #fff;
      /* width: 100vw; */
      border: 1px solid #dedede;
      background-color: #f7f9fa;
      z-index: 1001;

      @media (--large-breakpoint-up) {
        width: 100%;
      }
    }
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__suggestion {
    padding: 2rem;
    background-color: #f7f9fa;
    margin: 0;

    &--highlighted {
      background-color: #eff1f2;
    }
  }
}

.site-search {
  &-result {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &-image {
      margin-right: 2rem;
      max-width: 160px;
      flex-shrink: 0;
      display: none;

      @media (--medium-breakpoint-up) {
        display: block;
      }
    }

    &-content {
      &-header {
        font-family: var(--font-condensed-bold);
        font-size: var(--font-size-h5);
        line-height: var(--line-height-h5);
        margin-bottom: 0.5rem;
      }

      &-excerpt {
        font-size: var(--font-size-base-small);
        line-height: var(--line-height-base-small);
      }
    }
  }
}

.mobile-navigation {
  position: absolute;
  left: calc(-100% - 1rem);
  transition: left 0.5s ease;
  z-index: 1;

  .navigation {
    padding-top: 56px;
    margin-top: -56px;
    background-color: var(--color-blue);
    height: 100vh;

    a {
      border-top: 2px solid var(--color-blue);
      border-bottom: 2px solid var(--color-white);
    }
  }
}

.navigation-mobile ~ .mobile-navigation {
  left: 0;
  width: 100%;
  transition: left 0.5s ease;
}

.mobile-search {
  background-color: var(--color-light-gray);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.mobile-toggle {
  position: relative;
  z-index: 9999;

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:first-child {
      display: none;
    }

    &:last-child {
      display: flex;
    }

    img {
      width: 24px;
      margin-bottom: 0;
    }
  }
}

.mobile-menu-is-open {
  button {
    &:first-child {
      display: flex;
    }

    &:last-child {
      display: none;
    }
  }
}

/* Footer */
.footer {
  .max-container {
    font-family: var(--font-regular-light);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &-meta {
    display: flex;
    flex-flow: row wrap;
  }

  &-social {
    display: flex;

    &-link {
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      margin: 0 1rem 0.5rem 0;
    }
  }

  .logo {
    max-width: 96px;
    margin-right: 1rem;
  }

  &-navigation {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;

    a {
      color: var(--color-blue);
      text-decoration: none;
      margin-right: 2rem;
      margin-bottom: 0.5rem;

      &:hover {
        color: #000;
      }
    }
  }

  &-copyright {
    color: var(--color-gray);
    font-size: var(--font-size-h6);
    width: 100%;
  }
}

.backtotop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-white);
  box-shadow: 0px 2px 5px #0000001a;
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  color: var(--color-gray);
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 2px 4px 10px #0000003f;
  }

  &:active {
    box-shadow: inset 2px 4px 10px #0000003f;
  }
}

/* Password Protect Page */
main div h1 + h4 + form ~ a {
  /* Making this overly selective, because we can't edit the root elements of the plugin */
  display: none;
}

.gatsby-image-wrapper {
  .hero & {
    height: calc(100vh - 143px);
    max-height: 602px;
  }
}

.button {
  font-size: var(--font-size-base-xsmall);
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-regular-bold);
  padding: 10px 24px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-blue);
  }
}

.button-outline {
  background: none;
  border: 1px solid var(--color-white);
}

#maternal {
  margin-top: -7.5rem;
}

/* Language Selector */
.langLink {
  margin-left: 2rem;
  color: #0072a7;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &::before {
    font-size: 2rem;
    content: "\ea6b";
    display: inline-block;
    font-family: "bcbs-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Maternal Health Equity Actions */
#mhea {
}

.mhea {
  &-action {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d97d2d;
    min-height: 20rem;

    @media (--medium-breakpoint-up) {
      flex-flow: row nowrap;
      margin-bottom: 0;
    }

    &-title {
      flex: 1 1 auto;
      color: var(--color-blue);
      font-size: min(max(96px, calc(6rem + ((1vw - 3.2px) * 4))), 160px);
      min-height: 0vw;
      font-family: var(--font-condensed-regular);
      line-height: initial;
      margin-right: 1rem;

      @media (--medium-breakpoint-up) {
        flex: initial;
        margin-right: 2rem;
      }
    }

    &-content {
      font-size: min(max(18px, calc(1.125rem + ((1vw - 3.2px) * 0.75))), 30px);
      min-height: 0vw;
      font-family: var(--font-roman);
      line-height: initial;
      padding-top: 0.5rem;
      flex: 1 1 76%;
    }
    &-img {
      margin-bottom: 1rem;

      @media (--medium-breakpoint-up) {
        margin-left: 1rem;
        margin-bottom: 0;
        order: 3;
      }
    }
  }

  &-action-one {
    &-title {}

    &-content {}

    &-img {
      margin: 0 25% 1rem;

      @media (--medium-breakpoint-up) {
        margin: 0 0 0 1rem;
        max-width: 14%;
      }
    }
  }

  &-action-two {
    &-title {
      color: var(--color-dark-blue);
    }

    &-content {}

    &-img {
      @media (--medium-breakpoint-up) {
        max-width: 28%;
      }
    }
  }

  &-action-three {
    &-title {}
    &-content {}
    &-img {}
  }

  &-action-four {
    &-title {
      color: var(--color-dark-blue);
    }

    &-content {
      @media (--medium-breakpoint-up) {
        margin-right: auto;
        max-width: 50%;
      }
    }

    &-img {
      @media (--medium-breakpoint-up) {
        max-width: 42%;
      }
    }
  }

  &-action-five {
    &-title {}

    &-content {
      @media (--medium-breakpoint-up) {
        margin-right: auto;
        max-width: 48%;
      }
    }

    &-img {
      @media (--medium-breakpoint-up) {
        max-width: 24%;
      }
    }
  }

  &-action-six {
    &-title {
      color: var(--color-dark-blue);
    }

    &-content {
      @media (--medium-breakpoint-up) {
        margin-right: auto;
        max-width: 56%;
      }
    }
    &-img {
      margin: 0 25% 1rem;

      @media (--medium-breakpoint-up) {
        margin: 0 0 0 1rem;
        max-width: 16%;
      }
    }
  }

  &-action-seven {
    &-title {}
    &-content {}

    &-img {
      @media (--medium-breakpoint-up) {
        max-width: 28%;
      }
    }
  }

  &-action-eight {
    &-title {
      color: var(--color-dark-blue);
    }

    &-content {}

    &-img {
      @media (--medium-breakpoint-up) {
        max-width: 52%;
      }
    }
  }

  &-action-nine {
    &-title {}

    &-content {
      @media (--medium-breakpoint-up) {
        margin-right: auto;
        max-width: 50%;
      }
    }

    &-img {}
  }

  &-action-ten {
    &-title {
      color: var(--color-dark-blue);
    }

    &-content {
      flex: 1 1 58%;
      @media (--medium-breakpoint-up) {
        margin-right: auto;
        max-width: 54%;
      }
    }

    &-img {
      margin: 0 25% 1rem;

      @media (--medium-breakpoint-up) {
        margin: 0 0 0 1rem;
        max-width: 16%;
      }
    }
  }
}

#infographic-banner {
  .press-kit-banner-box h2,
  .press-kit-banner-box p {
    text-align: center;
  }

  .press-kit-banner-box a {
    display: block;
    text-align: center;
  }

  .press-kit-banner-box button {
    white-space: nowrap;
  }
}
