@import "variables.css";
@import "mixins.css";
@import "typography.css";
@import "breakpoints.css";

/* Plan Profiles */
.pp-hero {
  display: flex;

  @media (--medium-breakpoint-down) {
    flex-direction: column-reverse;
  }

  &__share {
    background: var(--color-light-gray);
    width: 17vw;
    height: 340px;
    position: relative;

    @media (--medium-breakpoint-down) {
      width: 100vw;
      height: auto;
      padding: 40px 1rem 20px;
      background: white;
    }

    &-content {
      position: absolute;
      right: 80px;
      padding-top: 60px;
      text-align: right;

      .share-buttons {
        margin: 0;
        padding: 0;
      }

      @media (--medium-breakpoint-down) {
        position: relative;
        text-align: left;
        right: auto;
        padding: 0;
        display: flex;

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    h4 {
      font-weight: 700;
      color: var(--color-gray);
      font-size: 16px;
      line-height: 22px;
      font-family: var(--font-regular-bold);

      @media (--medium-breakpoint-down) {
        margin-top: 8px;
        margin-right: 15px;
      }
    }

    li {
      list-style-type: none;
    }
  }

  &__image {
    background-size: cover;
    background-position: center center;
    height: 540px;
    width: 83vw;
    position: relative;

    @media (--medium-breakpoint-down) {
      width: 100vw;
      height: auto;
    }
  }

  &__meta {
    background: var(--color-light-blue);
    padding: 40px 60px;
    position: absolute;
    bottom: -100px;
    left: 140px;
    right: 0;

    @media (--medium-breakpoint-down) {
      left: 0;
      bottom: 0;
      margin-top: 400px;
      position: relative;
      padding: 40px 1rem;
    }
  }

  &__meta-content {
    max-width: 680px;

    @media (--medium-breakpoint-down) {
      max-width: 100%;
    }
  }

  &__category {
    background: var(--color-light-gray);
    color: var(--color-gray);
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    display: inline-block;
    position: absolute;
    height: 32px;
    padding: 4px 14px;
    left: 0;
    top: -32px;
  }

  &__date {
    padding-bottom: 16px;
  }

  &__title {
    h1 {
      font-size: var(--font-size-h3);
      line-height: var(--line-height-h3);
      color: var(--color-blue);
      font-weight: 700;
    }
  }

  &__author {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    font-family: var(--font-condensed-bold);
  }
}

.pp-main {
  padding-top: 170px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;

  @media (--medium-breakpoint-down) {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.pp-related {
  padding-left: 8vw;
  padding-top: 20px;
  width: 300px;

  @media (--medium-breakpoint-down) {
    width: 100%;
    padding-top: 40px;
    padding-left: 0;
  }

  &__title {
    position: relative;
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    text-transform: uppercase;
    color: var(--color-blue);
    letter-spacing: 0.8px;
    padding-bottom: 5px;
    margin-top: 8px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      background: var(--color-blue);
      width: 100%;
      height: 6px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__list-item {
    list-style-type: none;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  }

  &__category {
    display: inline-block;
    padding: 4px 6px 3px;
    background: black;
    color: white;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: var(--font-condensed-bold);
  }

  &__text {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    color: var(--color-gray);

    a {
      color: var(--color-gray);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.pp-content {
  width: calc(83vw - 200px);
  padding-right: 60px;

  @media (--medium-breakpoint-down) {
    width: 100%;
    padding-right: 0;
  }

  &__inner {
    max-width: 680px;

    @media (--medium-breakpoint-down) {
      max-width: 100%;
    }
  }

  &__inner > p:first-child:first-letter {
    color: var(--color-gray);
    font-family: var(--font-condensed-light);
    float: left;
    font-size: 72px;
    line-height: 60px;
    padding-right: 16px;
    padding-top: 5px;
    padding-left: 0;
    letter-spacing: -0.72px;
  }

  a {
    color: var(--color-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3,
  h4,
  h5 {
    padding-top: 20px;
    color: var(--color-blue);
  }

  blockquote {
    background: var(--color-light-gray);
    margin: 40px 0 40px;
    padding: 40px 60px 40px 90px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    position: relative;

    @media (--medium-breakpoint-down) {
      padding: 40px 40px 40px 70px;
    }
  }

  blockquote:before {
    position: absolute;
    top: 65px;
    left: 45px;
    color: var(--color-blue);
    content: open-quote;
    font-size: 60px;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

    @media (--medium-breakpoint-down) {
      left: 25px;
    }
  }

  blockquote p {
    display: inline;
  }

  &__fancy-list {
    margin: 45px 0 40px;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      padding-left: 65px;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        background: black;
        width: 40px;
        left: 0;
        top: 10px;
      }

      h5 {
        color: var(--color-gray);
        font-size: 18px;
        line-height: 22px;
        font-family: var(--font-regular-bold);
        margin: 0;
        padding: 0 0 10px;
      }
    }
  }
}

.pp-explore {
  background: var(--color-light-gray);
  width: var(--width-max-container);
  max-width: 100%;
  margin: 0 auto 50px;
  padding: 100px 60px 60px 60px;

  @media (--medium-breakpoint-down) {
    padding: 50px 1rem;
  }

  h2 {
    color: var(--color-blue);
    padding-bottom: 30px;

    @media (--medium-breakpoint-down) {
      padding-bottom: 20px;
    }
  }

  .ais-InfiniteHits {
    margin-right: 0;
  }

  .ais-InfiniteHits-item {
    background: white;
  }

  .ais-InfiniteHits-loadMore {
    display: none;
  }

  &-single-card {
    .ais-InfiniteHits-item {
      width: 100%;
    }

    .plan-result-card {
      display: flex;
      flex-direction: column;

      @media (--medium-breakpoint-up) {
        flex-direction: row;
      }

      &-plan,
      &-meta {
        @media (--medium-breakpoint-up) {
          flex: 1 1 50%;
        }
      }
    }
  }
}
