:root {
  /* Layout */
  --min-content: 800px;
  --max-content: 1160px;
  --max-container: 1320px;

  /* Colors */
  --blue: #0072a7;
  --dark-blue: #005172;
  --medium-blue: #d2e8f3;
  --light-blue: #e8f6fd;
  --light-gray: #f7f9fa;
  --gray: #3f3f3f;

  /* Typography */
  --condensed-light: "Condensed Light";
  --condensed-regular: "Condensed Regular";
  --condensed-bold: "Condensed Bold";
  --roman: Roman;
  --fallback: Arial, Helvetica, sans-serif;

  --font-size-h1: 80px;
  --font-size-h2: 64px;
  --font-size-h3: 32px;
  --font-size-h4: 26px;
  --font-size-h5: 20px;
  --font-size-h6: 13px;
  --font-size-base: 16px;
  --font-size-base-small: 14px;
  --font-size-quote: 24px;

  --line-height-h1: 88px;
  --line-height-h2: 72px;
  --line-height-h3: 40px;
  --line-height-h4: 32px;
  --line-height-h5: 24px;
  --line-height-h6: 18px;
  --line-height-base: 22px;
  --line-height-base-small: 20px;
  --line-height-quote: 30px;
}
