:root {
  /* Layout */
  --width-min-content: 800px;
  --width-max-content: 1238px;
  --width-max-container: 1352px;

  /* Colors */
  --color-blue: #0072a7;
  --color-dark-blue: #005172;
  --color-medium-blue: #d2e8f3;
  --color-light-blue: #e8f6fd;
  --color-light-gray: #f7f9fa;
  --color-gray: #3f3f3f;
  --color-disabled: #cfd0d1;
  --color-white: #ffffff;

  /* Typography */
  --font-condensed-light: "Condensed Light";
  --font-condensed-regular: "Condensed Regular";
  --font-condensed-bold: "Condensed Bold";
  --font-roman: Roman;
  --font-regular-light: "Basic Light";
  --font-regular-bold: "Basic Bold";
  --font-fallback: Arial, Helvetica, sans-serif;

  --font-size-h1: 80px;
  --font-size-h2: 64px;
  --font-size-h3: 32px;
  --font-size-h4: 26px;
  --font-size-h5: 20px;
  --font-size-h6: 13px;
  --font-size-base: 16px;
  --font-size-base-small: 14px;
  --font-size-quote: 24px;
  --font-size-40: 40px;

  --line-height-h1: 88px;
  --line-height-h2: 72px;
  --line-height-h3: 40px;
  --line-height-h4: 32px;
  --line-height-h5: 24px;
  --line-height-h6: 18px;
  --line-height-base: 22px;
  --line-height-base-small: 20px;
  --line-height-quote: 30px;

  /* Spacers */
  --spacer: 1rem;
  --spacer-2: 2rem;
  --spacer-3: 3rem;
}
