@import "../mixins.css";
@import "../breakpoints.css";

.disparities {
  padding: var(--spacer-2) 0;

  @media (--medium-breakpoint-up) {
    padding: 7.5rem 0;
  }

  .inner-content {
  }

  &-heading {
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-condensed-regular);
    font-size: var(--font-size-30);
    letter-spacing: 1.2px;
    margin-bottom: 3rem;
    text-align: center;
    line-height: initial;
  }

  &-cards {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 0.5rem 0.5rem 1.5rem;
    margin: 0 -1rem;

    &-wrap {
      ::-webkit-scrollbar {
        height: 12px;
        -webkit-appearance: none;

        @media (--extra-large-breakpoint) {
          display: none;
        }
      }

      ::-webkit-scrollbar-track {
        margin: 0 1rem;
        background: var(--color-medium-blue);
        height: 12px;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: var(--color-blue);

        border-radius: 10px;
      }
    }
  }

  &-card {
    margin: 0 0.5rem;
    padding: 50px 20px 16rem;
    box-shadow: 0px 0px 5px #0000001a;
    width: 290px;
    flex-shrink: 0;
    position: relative;

    &-heading {
      color: #000;
      text-transform: uppercase;
      font-family: var(--font-condensed-bold);
      font-size: var(--font-size-h6);
      letter-spacing: 0.52px;
    }

    &-stat {
      color: var(--color-blue);
      font-family: var(--font-condensed-regular);
      font-size: 120px;
      line-height: initial;

      span:not(:first-child) {
        font-size: 40px;
      }
    }

    &-text {
      font-size: var(--font-size-base-small);
    }

    &-image {
      position: absolute;
      bottom: -5px;
    }
  }

  .sources {
    max-width: 900px;
    margin: 8px auto 0;
    color: #767676;
    font-size: 12px;
    text-align: center;

    a {
      color: #767676;
    }
  }
}
