@import "../variables.css";
@import "../mixins.css";
@import "../breakpoints.css";

.pp-hero {
  display: flex;

  @media (--medium-breakpoint-down) {
    flex-direction: column-reverse;
  }

  &__share {
    background: var(--color-light-gray);
    width: 17vw;
    height: 340px;
    position: relative;

    @media (--medium-breakpoint-down) {
      width: 100vw;
      height: auto;
      padding: 40px 1rem 20px;
      background: white;
    }

    &-content {
      position: absolute;
      right: 80px;
      padding-top: 60px;
      text-align: right;

      .share-buttons {
        margin: 0;
        padding: 0;
      }

      @media (--medium-breakpoint-down) {
        position: relative;
        text-align: left;
        right: auto;
        padding: 0;
        display: flex;

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    h4 {
      font-weight: 700;
      color: var(--color-gray);
      font-size: 16px;
      line-height: 22px;
      font-family: var(--font-regular-bold);

      @media (--medium-breakpoint-down) {
        margin-top: 8px;
        margin-right: 15px;
      }
    }

    li {
      list-style-type: none;
    }
  }

  &__image {
    background-size: cover;
    background-position: top center;
    height: 540px;
    width: 83vw;
    position: relative;

    @media (--medium-breakpoint-down) {
      width: 100vw;
      height: auto;
    }
  }

  &__meta {
    background: var(--color-light-blue);
    padding: 40px 60px;
    position: absolute;
    bottom: -100px;
    left: 140px;
    right: 0;

    @media (--medium-breakpoint-down) {
      left: 0;
      bottom: 0;
      margin-top: 400px;
      position: relative;
      padding: 40px 1rem;
    }
  }

  &__meta-content {
    max-width: 680px;

    @media (--medium-breakpoint-down) {
      max-width: 100%;
    }
  }

  &__category {
    background: var(--color-light-gray);
    color: var(--color-gray);
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    display: inline-block;
    position: absolute;
    height: 32px;
    padding: 4px 14px;
    left: 0;
    top: -32px;
  }

  &__date {
    padding-bottom: 16px;
  }

  &__title {
    h1 {
      font-size: var(--font-size-h3);
      line-height: var(--line-height-h3);
      color: var(--color-blue);
      font-weight: 700;
    }
  }

  &__author {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--font-size-base-small);
    line-height: var(--line-height-base-small);
    font-family: var(--font-condensed-bold);
  }
}