@import "../mixins.css";
@import "../variables.css";
@import "../breakpoints.css";
/* @import "../typography.css"; */


/* Default Styles */
.tabs-wrapper {
  padding: 80px 0;
}

.tab-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: var(--width-max-content);
  padding: 0px 1rem;
}

.tab-item {
  width: 20%;
  border-left: 1px solid rgba(112, 112, 112, .3);
  margin-bottom: 60px;

  &__text {
    padding: 25px 8px 0;
  }

  &__image {
    cursor: pointer;
    /* Used to overlap the border */
    position: relative;
    z-index: 100;
    overflow: visible;
    width: calc(100% + 2px);
    left: -1px;    

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-blue);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.01em;
    padding: 0 15px 8px;
  }

  &__company {
    font-size: 14px;
    line-height: 20px;
    padding: 0 15px;
  }
}

.tab-content {
  display: none;
}

/* Styles when the advisory panel is open */
.advisory-panel-is-open {
  .tabs-wrapper {
    display: block;
    position: fixed;
    z-index: 9000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 0;
    background: var(--color-light-gray);
  }

  .tab-content {
    width: calc(100% - 340px);
    display: block;
    position: relative;

    &__grid {
      background: var(--color-light-gray);
      padding: 40px;
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    &__personal-info {
      width: 300px;
    }

    &__copy {
      width: calc(100% - 300px);

      p {
        &:last-of-type {
          padding-bottom: 50px;
        }
      }
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .tab-items {
    width: 340px;
    margin: 0;
    max-width: none;
    padding: 0;
    display: block;
    background: var(--color-dark-blue);
  }

  .tab-item {
    width: 340px;
    padding: 20px;
    cursor: pointer;
    color: var(--color-gray);
    background: var(--color-light-gray);

    &.tab-item--inactive {
      background: var(--color-dark-blue);
      color: white;
    }

    &__text {
      border-left: none;
    }

    &__title {
      color: white;
    }

    &__image {
      display: none;
    }
  }

  .tabs-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}