@import "../variables.css";
@import "../mixins.css";
/*@import "../typography.css";*/
@import "../breakpoints.css";

.advisory-board-wrapper {
  padding: 80px 0;
}

.advisory-board {
  &__grid {
    display: flex;
    justify-content: space-between;
  };
}

