# Builds and deploys the Gatsby content
---
name: Build and Deploy
on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
  repository_dispatch:
    types: [content_update]

jobs:
  build:
    name: Build Gatsby
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Gatsby
        run: npm install -g gatsby-cli

      - name: Retain Gatsby cache, output, and dependencies
        uses: actions/cache@v2
        with:
          path: |
            .cache
            public
            node_modules
          key: ${{ runner.os }}-gatsby-cache

      - name: Install dependencies
        run: npm install

      - name: Build Gatsby
        run: gatsby build --prefix-paths

      - name: Include the AWS Codebuild file
        run: cp buildspec.yml public/buildspec.yml

      - name: Archive the Gatsby output
        run: tar -czf public.tar.gz public/

      - name: Upload the Gatsby output archive
        uses: actions/upload-artifact@v2
        with:
          name: gatsby-public
          path: public.tar.gz

  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-20.04
    needs: build
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'repository_dispatch' ||
      startsWith(github.ref, 'refs/tags/') ||
      github.ref == 'refs/heads/dev' ||
      github.ref == 'refs/heads/uat' ||
      github.ref == 'refs/heads/stage' ||
      github.ref == 'refs/heads/BCBSALLY-2200/build-triggers'
    steps:
      - name: Parse the branch name
        id: branch
        if: |
          !startsWith(github.ref, 'refs/tags/') ||
          github.ref != 'refs/heads/master'
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

      - name: Retrieve the build artifact
        uses: actions/download-artifact@v2
        with:
          name: gatsby-public
          path: /tmp/

      - name: Expand the build artifact
        run: tar -xzf /tmp/public.tar.gz

      - name: Configure AWS credentials
        if: |
          !startsWith(github.ref, 'refs/tags/') ||
          github.ref != 'refs/heads/master'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ARCHIVE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ARCHIVE_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ARCHIVE_AWS_UPLOAD_ROLE_ARN }}
          role-external-id: ${{ secrets.ARCHIVE_AWS_UPLOAD_ROLE_EXTERNAL_ID }}
          role-duration-seconds: 1200
          role-session-name: GitHubActionsStaticSiteUpload
          # Temporarily disable session tagging
          role-skip-session-tagging: true

      - name: Configure AWS credentials (prod)
        if: |
          startsWith(github.ref, 'refs/tags/') ||
          github.ref == 'refs/heads/master'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ARCHIVE_AWS_ACCESS_KEY_ID_PROD }}
          aws-secret-access-key: ${{ secrets.ARCHIVE_AWS_SECRET_ACCESS_KEY_PROD }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ARCHIVE_AWS_UPLOAD_ROLE_ARN_PROD }}
          role-external-id: ${{ secrets.ARCHIVE_AWS_UPLOAD_ROLE_EXTERNAL_ID }}
          role-duration-seconds: 1200
          role-session-name: GitHubActionsStaticSiteUpload
          # Temporarily disable session tagging
          role-skip-session-tagging: true

      # For testing, use the stage bucket
      - name: Deploy the site contents to S3
        run: aws s3 sync --acl bucket-owner-full-control --delete public/ s3://bcbscom-stage-gatsby-website/the-health-of-america/healthequity/
