# Builds and deploys the Gatsby content
---
name: Build and Deploy
on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
  repository_dispatch:
    types: [content_update]

jobs:
  build:
    name: Build Gatsby
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Gatsby
        run: npm install -g gatsby-cli

      - name: Retain Gatsby cache, output, and dependencies
        uses: actions/cache@v2
        with:
          path: |
            .cache
            public
            node_modules
          key: ${{ runner.os }}-gatsby-cache

      - name: Install dependencies
        run: npm install

      - name: Build Gatsby
        run: gatsby build --prefix-paths

      - name: Include the AWS Codebuild file
        run: cp buildspec.yml public/buildspec.yml

      - name: Archive the Gatsby output
        run: tar -C public -czf public.tar.gz .

      - name: Upload the Gatsby output archive
        uses: actions/upload-artifact@v2
        with:
          name: gatsby-public
          path: public.tar.gz

  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-20.04
    needs: build
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'repository_dispatch' ||
      startsWith(github.ref, 'refs/tags/') ||
      github.ref == 'refs/heads/dev' ||
      github.ref == 'refs/heads/uat' ||
      github.ref == 'refs/heads/stage' ||
      github.ref == 'refs/heads/BCBSALLY-2200/build-triggers'
    steps:
      - name: Parse the branch name
        id: branch
        if: |
          !startsWith(github.ref, 'refs/tags/') ||
          github.ref != 'refs/heads/master'
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

      - name: Retrieve the build artifact
        uses: actions/download-artifact@v2
        with:
          name: gatsby-public
          path: /tmp/

      - name: Expand the build artifact
        run: tar -xzf /tmp/public.tar.gz

      - name: Package the site content for AWS
        run: zip -r /tmp/public.zip .

      # - name: Configure AWS credentials
      #   if: |
      #     "!startsWith(github.ref, 'refs/tags/') ||
      #     github.ref != 'refs/heads/master'"
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:

      # - name: Configure AWS credentials (prod)
      #   if: |
      #     startsWith(github.ref, 'refs/tags/') ||
      #     github.ref == 'refs/heads/master'
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:

      # - name: Push the site package to S3
      #   run: aws s3 sync /tmp/public.zip s3://${{ secrets.AWS_CODEBUILD_INPUT_BUCKET }}

      # - name: Deploy via Codebuild
      #   uses: aws-actions/aws-codebuild-run-build@v1.0.3
      #   if: |
      #     "!startsWith(github.ref, 'refs/tags/') ||
      #     github.ref != 'refs/heads/master'"
      #   with:
      #     project-name: bcbscom-hep-${{ steps.branch.outputs.branch }}

      # - name: Deploy via Codebuild (prod)
      #   uses: aws-actions/aws-codebuild-run-build@v1.0.3
      #   if: |
      #     startsWith(github.ref, 'refs/tags/') ||
      #     github.ref != 'refs/heads/master'
      #   with:
      #     project-name: bcbscom-hep-prod
